*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: #ccc;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.signup {
  overflow: hidden;
  max-width: 77rem;
  min-height: 49rem;
  margin: 5rem auto;
  background-color: #20211f;
  border-radius: 3rem;
}
.signup__heading {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #fff;
}
.signup__content {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 3.4rem 5rem 3.4rem;
}
.signup-form, .signup-social {
  width: calc(50% - 6.1rem);
}
.signup-form {
  position: relative;
}
.signup-form::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 19rem;
  background-color: #fff;
  transform: translateX(6rem);
}
.signup-form__input {
  color: #fff;
  padding: 1.2rem 2.4rem;
  border: 1px solid #fff;
  background-color: #20211f;
  border-radius: 5rem;
  display: block;
  width: 100%;
}
.signup-form__input:not(:last-child) {
  margin-bottom: 2rem;
}
.signup-form__forgot {
  display: block;
  text-align: end;
  color: #63d411;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
.signup-form__submit {
  background-color: #554abb;
  border-radius: 4rem;
  padding: 1.7rem 0;
  width: 100%;
  outline: none;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}
.signup-social h2 {
  text-align: center;
  font-size: 2.2rem;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.signup-social span {
  color: #63d411;
}
.signup-social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-social__icon {
  font-size: 3rem;
  transition: all 0.25s linear;
  width: 8rem;
  height: 8rem;
  border-radius: 5rem;
  background-color: #20211f;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.signup-social__icon:not(:last-child) {
  margin-right: 1.5rem;
}
.signup-social__icon:hover {
  background-color: #fff;
  color: #20211f;
}
.signup__already {
  padding: 3rem 0;
  text-align: center;
  background-color: #333;
  color: #63d411;
  cursor: pointer;
  font-size: 2rem;
}

.login-social {
  max-width: 77rem;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-social__icon {
  padding: 3rem;
  border-radius: 50%;
  background-color: #20211f;
  transition: all 0.25s linear;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
}
.login-social__icon:hover {
  color: #20211f;
  background-color: #fff;
}
.login-social .search-form {
  background-color: #20211f;
  padding: 2.5rem 2.5rem 2.5rem 3.5rem;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-social .search-form__input {
  border: none;
  background-color: #20211f;
  color: #fff;
}
.login-social .search-form__input::-webkit-input-placeholder {
  color: #fff;
}
.login-social .search-form__button {
  color: #fff;
  font-size: 2rem;
  border: none;
  background-color: #20211f;
  outline: none;
  cursor: pointer;
  padding-left: 1rem;
}

.media {
  overflow: hidden;
  max-width: 77rem;
  height: 51rem;
  margin: 5rem auto;
  background: url("https://images.unsplash.com/photo-1544931733-7ee200c8ca3c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") no-repeat center center/cover;
  border-radius: 2rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.527);
  position: relative;
}
.media__play {
  border-radius: 50%;
  background-color: #3b3b2f;
  border: 2px solid #fff;
  display: inline-block;
  padding: 2.5rem;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: calc(50% - 7.3rem);
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.media-bottom {
  width: 100%;
  padding: 2rem 1.5rem 1rem;
  background-color: #00000047;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media-bottom__icon {
  font-size: 1.7rem;
  color: white;
  background-color: #4db2ac;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  cursor: pointer;
}
.media-bottom__icon:hover {
  background-color: #fff;
  color: #20211f;
}
.media-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.media-time__line {
  margin: 0 1.5rem;
  width: 30rem;
  height: 1rem;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.media-time__progress {
  width: 30%;
  height: 100%;
  background-color: #4db2ac;
}

.product {
  max-width: 37rem;
  height: 52rem;
  margin: 5rem auto;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.product__image {
  width: 100%;
  height: calc(100% - 15rem);
  object-fit: cover;
}
.product__price {
  position: absolute;
  top: 4rem;
  right: 0;
  padding: 1rem 2rem;
  border-radius: 3rem 0 0 3rem;
  color: #fff;
  background-color: #4db2ac;
}
.product__bottom {
  position: absolute;
  top: calc(100% - 19.5rem);
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #00000047;
}
.product__icon {
  margin-right: 2.5rem;
  color: white;
  padding: 1.5rem 0;
  cursor: pointer;
}
.product-info {
  background-color: #20211f;
  padding: 3.5rem 4rem;
}
.product-info__name {
  font-size: 2.3rem;
  color: #c5c47b;
  margin-bottom: 2rem;
}
.product-info__desc {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.5;
}

.weather--desktop {
  max-width: 37rem;
  height: 52rem;
  margin: 5rem auto;
  border-radius: 2rem;
  overflow: hidden;
  background: url("https://images.unsplash.com/photo-1558486012-817176f84c6d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=319&q=80") no-repeat center center/cover;
  position: relative;
}
.weather-current {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.weather-current__temp {
  font-size: 10rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2.5rem;
  position: relative;
}
.weather-current__temp::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 2rem;
  height: 2rem;
  border: 3px solid white;
  border-radius: 50%;
}
.weather-current__status {
  color: white;
  font-size: 2rem;
}
.weather-daily {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #242424;
  padding: 2rem;
}
.weather-daily__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weather-daily__item:not(:last-child) {
  margin-bottom: 2.5rem;
}
.weather-daily__info {
  display: flex;
  align-items: center;
}
.weather-daily__icon {
  color: white;
  margin-right: 2rem;
}
.weather-daily__main-date {
  color: white;
  text-transform: uppercase;
}
.weather-daily__sub-date {
  color: #4db2ac;
  position: relative;
  padding-left: 1.5rem;
  margin-left: 1rem;
}
.weather-daily__sub-date::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 1.5rem;
  background-color: #fff;
}
.weather-daily__temp {
  color: #edec93;
  position: relative;
}
.weather-daily__temp::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  border: 1px solid currentColor;
  border-radius: 50%;
  transform: translate(100%, -50%);
}

.calendar {
  margin: 0 auto;
  max-width: 37rem;
  border-radius: 2rem;
  overflow: hidden;
  text-align: center;
}
.calendar__header {
  height: 34rem;
  padding-top: 9rem;
  background: url("https://images.unsplash.com/photo-1562690868-60bbe7293e94?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=360&q=80") no-repeat center center/cover;
}
.calendar__year, .calendar__month, .calendar__date {
  color: white;
}
.calendar__year {
  font-size: 3rem;
}
.calendar__month {
  font-size: 5rem;
  margin-bottom: 1rem;
  position: relative;
}
.calendar__icon--left {
  position: absolute;
  top: 0;
  left: 2rem;
  cursor: pointer;
}
.calendar__icon--right {
  position: absolute;
  top: 0;
  right: 2rem;
  cursor: pointer;
}
.calendar__date {
  display: inline-block;
  padding: 5px 1rem;
  background-color: red;
  border-radius: 1rem;
}
.calendar table {
  position: relative;
  top: -6rem;
  right: 0;
  width: 100%;
  border-radius: 0 0 2rem 2rem;
  overflow: hidden;
}
.calendar thead {
  background-color: rgba(255, 255, 255, 0.5);
}
.calendar thead th {
  padding: 2rem 0;
}
.calendar tbody {
  background-color: #242424;
}
.calendar tbody td {
  position: relative;
  cursor: pointer;
  padding: 2rem 0;
  color: white;
  z-index: 11;
}
.calendar tbody .current {
  color: black;
}
.calendar tbody .current::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  background-color: #edec93;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.calendar tbody .other {
  color: #7e7e7e;
}
.calendar__event::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background-color: #edec93;
  border-radius: 50%;
}

.chart {
  max-width: 37rem;
  margin: 0 auto 5rem;
  background-color: #20211f;
  padding: 4.5rem;
  border-radius: 2rem;
}
.chart__status {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.chart__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart__circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.chart__circle--teals {
  background-color: teal;
}
.chart__circle--greys {
  background-color: grey;
}
.chart__circle--yellows {
  background-color: yellow;
}
.chart__circle--whites {
  background-color: white;
}
.chart__text {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.chart .wrapper {
  background: conic-gradient(grey 10%, teal 0 25%, yellow 0 59%, white 0);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  margin: 0 auto 4rem;
  position: relative;
}
.chart .wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15rem;
  height: 15rem;
  transform: translate(-50%, -50%);
  background-color: #20211f;
  border-radius: 50%;
}

.weather__responsive {
  display: none;
  max-width: 37rem;
  height: 8rem;
  margin: 5rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #20211f;
  border-radius: 3.5rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.weather__responsive::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  background-color: #4db2ac;
  z-index: -1;
}
.weather__current {
  color: #fff;
}
.weather__location {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.weather__location i {
  color: #edec93;
}
.weather__status {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather__status i {
  font-size: 2.5rem;
}
.weather__temp {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  position: relative;
}
.weather__temp::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 1rem;
  height: 1rem;
  border: 3px solid white;
  border-radius: 50%;
}
.weather--mobile {
  display: none;
}

@media screen and (max-width: 1023px) {
  .signup__content {
    flex-direction: column-reverse;
    width: 100%;
    padding: 3.5rem 3.4rem 3rem 3.4rem;
  }
  .signup-form, .signup-social {
    width: 100%;
  }
  .signup-social {
    display: flex;
    flex-direction: column-reverse;
  }
  .signup__already {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 767px) {
  .login-social {
    flex-wrap: wrap;
  }
  .login-social__icon {
    margin-bottom: 2rem;
  }
  .login-social .search-form {
    width: 100%;
  }

  .product {
    height: 50rem;
  }

  .weather--desktop {
    display: none;
  }
  .weather--mobile {
    display: flex;
  }

  .media {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
