@mixin flexbox($align: flex-start, $justify: flex-start, $direction: row, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-flow: $direction $wrap;
}

$primary-color: #20211f;
$secondary-color: #fff;

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    background-color: #ccc;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

.signup {

    overflow: hidden;
    max-width: 77rem;
    min-height: 49rem;
    margin: 5rem auto;
    background-color: $primary-color;
    border-radius: 3rem;

    &__heading {
        text-align: center;
        font-size: 3rem;
        color: $secondary-color;

        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid $secondary-color;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 3.5rem 3.4rem 5rem 3.4rem;
    }

    &-form,
    &-social {
        width: calc(50% - 6.1rem);
    }



    &-form {

        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 19rem;
            background-color: $secondary-color;
            transform: translateX(6rem);
        }

        &__input {
            color: #fff;

            padding: 1.2rem 2.4rem;
            border: 1px solid $secondary-color;
            background-color: $primary-color;
            border-radius: 5rem;

            display: block;
            width: 100%;


            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        &__forgot {
            display: block;
            text-align: end;
            color: #63d411;
            font-size: 1.4rem;
            margin-bottom: 4rem;
        }

        &__submit {
            background-color: #554abb;
            border-radius: 4rem;
            padding: 1.7rem 0;
            width: 100%;
            outline: none;

            color: $secondary-color;
            font-size: 1.8rem;
            border: none;
            cursor: pointer;
        }
    }

    &-social {
        h2 {
            text-align: center;
            font-size: 2.2rem;
            color: $secondary-color;

            margin-top: 2rem;
            margin-bottom: 5rem;
        }

        span {
            color: #63d411;
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__icon {

            font-size: 3rem;

            transition: all .25s linear;

            width: 8rem;
            height: 8rem;
            border-radius: 5rem;
            background-color: $primary-color;
            border: 1px solid $secondary-color;

            color: $secondary-color;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            &:hover {
                background-color: $secondary-color;
                color: $primary-color;
            }
        }
    }

    &__already {
        padding: 3rem 0;
        text-align: center;
        background-color: #333;
        color: #63d411;
        cursor: pointer;
        font-size: 2rem;
    }

}

.login-social {

    max-width: 77rem;
    margin: 5rem auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon {
        padding: 3rem;
        border-radius: 50%;
        background-color: $primary-color;
        transition: all .25s linear;
        cursor: pointer;

        font-size: 2rem;
        color: $secondary-color;

        &:hover {
            color: $primary-color;
            background-color: $secondary-color;

        }
    }

    .search-form {


        background-color: $primary-color;
        padding: 2.5rem 2.5rem 2.5rem 3.5rem;
        border-radius: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__input {
            border: none;
            background-color: $primary-color;

            color: $secondary-color;

            &::-webkit-input-placeholder {
                color: $secondary-color;
            }
        }

        &__button {
            color: $secondary-color;
            font-size: 2rem;
            border: none;
            background-color: $primary-color;
            outline: none;
            cursor: pointer;
            padding-left: 1rem;
        }
    }
}


.media {

    overflow: hidden;

    max-width: 77rem;
    height: 51rem;
    margin: 5rem auto;

    background: url("https://images.unsplash.com/photo-1544931733-7ee200c8ca3c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") no-repeat center center / cover;

    border-radius: 2rem;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.527);

    position: relative;

    &__play {
        border-radius: 50%;
        background-color: #3b3b2f;
        border: 2px solid #fff;
        display: inline-block;
        padding: 2.5rem;
        color: $secondary-color;
        font-size: 2rem;

        position: absolute;
        top: calc(50% - 7.3rem);
        left: 50%;
        transform: translateX(-50%);

        cursor: pointer;
    }

    &-bottom {
        width: 100%;
        padding: 2rem 1.5rem 1rem;
        background-color: #00000047;

        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__icon {
            font-size: 1.7rem;
            color: white;

            background-color: #4db2ac;
            border: 1px solid $secondary-color;
            border-radius: 50%;
            width: 4.2rem;
            height: 4.2rem;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all .25s linear;
            cursor: pointer;

            &:hover {
                background-color: $secondary-color;
                color: $primary-color;
            }

        }
    }

    &-time {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: $secondary-color;

        &__line {
            margin: 0 1.5rem;
            width: 30rem;
            height: 1rem;
            background-color: white;
            border-radius: 1rem;
            position: relative;
            cursor: pointer;
            overflow: hidden;

        }

        &__progress {
            width: 30%;
            height: 100%;
            background-color: #4db2ac;
        }
    }
}


.product {
    max-width: 37rem;
    height: 52rem;
    margin: 5rem auto;

    border-radius: 2rem;
    overflow: hidden;

    position: relative;

    &__image {
        width: 100%;
        height: calc(100% - 15rem);
        object-fit: cover;
    }

    &__price {
        position: absolute;
        top: 4rem;
        right: 0;

        padding: 1rem 2rem;
        border-radius: 3rem 0 0 3rem;

        color: $secondary-color;

        background-color: #4db2ac;
    }

    &__bottom {

        position: absolute;
        top: calc(100% - 19.5rem);
        right: 0;
        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        background-color: #00000047;

    }

    &__icon {
        margin-right: 2.5rem;
        color: white;
        padding: 1.5rem 0;
        cursor: pointer;

    }

    &-info {
        background-color: #20211f;
        padding: 3.5rem 4rem;

        &__name {
            font-size: 2.3rem;
            color: #c5c47b;
            margin-bottom: 2rem;

        }

        &__desc {
            color: $secondary-color;
            font-size: 1.4rem;
            line-height: 1.5;
        }

    }


}

.weather {

    &--desktop {
        max-width: 37rem;
        height: 52rem;
        margin: 5rem auto;
        border-radius: 2rem;
    
        overflow: hidden;
    
    
        background: url('https://images.unsplash.com/photo-1558486012-817176f84c6d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=319&q=80') no-repeat center center / cover;
    
        position: relative;
    }


    &-current {

        position: absolute;
        top: 20%;
        left: 50%;

        transform: translateX(-50%);
        text-align: center;

        &__temp {
            font-size: 10rem;
            font-weight: 700;
            color: white;
            margin-bottom: 2.5rem;

            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(100%);
                width: 2rem;
                height: 2rem;
                border: 3px solid white;
                border-radius: 50%;
            }
        }

        &__status {
            color: white;
            font-size: 2rem;
        }
    }


    &-daily {

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        background-color: #242424;
        padding: 2rem;

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }

        &__info {
            display: flex;
            align-items: center;

        }

        &__icon {
            color: white;
            margin-right: 2rem;
        }

        &__main-date {
            color: white;
            text-transform: uppercase;
        }

        &__sub-date {
            color: #4db2ac;
            position: relative;
            padding-left: 1.5rem;
            margin-left: 1rem;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 2px;
                height: 1.5rem;
                background-color: #fff;
            }
        }

        &__temp {
            color: #edec93;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 5px;
                height: 5px;
                border: 1px solid currentColor;
                border-radius: 50%;
                transform: translate(100%, -50%);
            }
        }
    }
}


.calendar {
    margin: 0 auto;
    max-width: 37rem;

    border-radius: 2rem;
    overflow: hidden;

    text-align: center;

    &__header {
        height: 34rem;
        padding-top: 9rem;

        background: url("https://images.unsplash.com/photo-1562690868-60bbe7293e94?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=360&q=80") no-repeat center center / cover;
    }


    &__year,
    &__month,
    &__date {
        color: white;
    }

    &__year {
        font-size: 3rem;
    }

    &__month {
        font-size: 5rem;
        margin-bottom: 1rem;
        position: relative;
    }

    &__icon {


        &--left {
            position: absolute;
            top: 0;
            left: 2rem;
            cursor: pointer;
        }

        &--right {
            position: absolute;
            top: 0;
            right: 2rem;
            cursor: pointer;
        }
    }

    &__date {
        display: inline-block;
        padding: 5px 1rem;
        background-color: red;
        border-radius: 1rem;
    }


    table {
        position: relative;
        top: -6rem;
        right: 0;
        width: 100%;
        border-radius: 0 0 2rem 2rem;
        overflow: hidden;
    }

    thead {
        background-color: rgba(255, 255, 255, 0.5);

        th {
            padding: 2rem 0;
        }
    }

    tbody {

        background-color: #242424;

        td {
            position: relative;
            cursor: pointer;
            padding: 2rem 0;
            color: white;
            z-index: 11;


        }

        .current {

            color: black;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 4rem;
                height: 4rem;
                background-color: #edec93;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
        }

        .other {
            color: #7e7e7e;
        }
    }

    &__event {
        &::after {
            content: "";
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            width: 4px;
            height: 4px;
            background-color: #edec93;
            border-radius: 50%;

        }
    }




}


.chart {
    max-width: 37rem;
    margin: 0 auto 5rem;
    background-color: $primary-color;
    padding: 4.5rem;
    border-radius: 2rem;

    &__status {
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__circle {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .5rem;

        &--teals {
            background-color: teal;
        }

        &--greys {
            background-color: grey;
        }

        &--yellows {
            background-color: yellow;
        }

        &--whites {
            background-color: white;
        }
    }

    &__text {
        text-align: center;
        color: white;
        font-size: 1.5rem;
    }

    .wrapper {
        background:
            conic-gradient(
                grey 10%,
                teal 0 25%,
                yellow 0 59%,
                white 0);
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
        margin: 0 auto 4rem;

        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15rem;
            height: 15rem;
            transform: translate(-50%, -50%);
            background-color: $primary-color;
            border-radius: 50%;
        }
    }
    

}



.weather { 



    &__responsive {

        display: none;
        
        max-width: 37rem;
        height: 8rem;
        margin: 5rem auto;

        display: flex;
        justify-content: space-around;
        align-items: center;

        background-color: $primary-color;
        border-radius: 3.5rem;
        overflow: hidden;

        position: relative;
        z-index: 1;

        

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 25%;
            background-color: #4db2ac;
            z-index: -1;
        }
    }

    &__current {
        color: $secondary-color;

        
    }

    &__location {
        margin-top: 1rem;
        font-size: 1.4rem;

        i {
            color: #edec93;
        }
    }

    &__status {
        color: $secondary-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            font-size: 2.5rem;
        }
    }

    &__temp {
        font-size: 6rem;
        font-weight: bold;
        color: $secondary-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            width: 1rem;
            height: 1rem;
            border: 3px solid white;
            border-radius: 50%;
        }
    }


    &--mobile {
        display: none;
    }

}



@media screen and (max-width: 1023px) {
    .signup {

        &__content {
            flex-direction: column-reverse;
            width: 100%;
            padding: 3.5rem 3.4rem 3rem 3.4rem
        }

        &-form, 
        &-social {
            width: 100%;
        }

        &-social {
            display: flex;
            flex-direction: column-reverse;
        }

        &__already {
            padding: 2rem 0;
        }
    }
}

@media screen and (max-width: 767px) {

    .login {
        &-social {
            flex-wrap: wrap;

            &__icon {
                margin-bottom: 2rem;
            }

            .search-form {
                width: 100%;
            }
        }
    }

    .product {
        height: 50rem;
    }

    .weather {
        &--desktop {
            display: none;
        }

        &--mobile {
            display: flex;
        }
    }

    .media {
        display: none;
    }
}